* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #1e3027;
}

.titulo {
    color: #8a8b8b;
    padding: 22px;
}

.logoPorsche2 {
    width: 260px;
    height: 35px;
    margin-right: 12px;
}

.logoPorsche {
    width: 35px;
    height: 45px;
}

.tarjeta2, .tarjeta1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 10px;
}

h3{
    color: #ffff;
}

.textoTarjeta {
    color: #ffff;
    text-align: center;
}

.porscheTarjeta2 {
    width: 750px;
    height: 400px;
    padding-block: 12px;
}

footer div{
    display: flex;
}
footer div a i{
    text-decoration: none;
    color: red
}